@media (min-width: 800px){
    aside{
        right: 0;
        width: 235px;
        transition: none;
    }
    .fundo{
        display: none;
    }
    body{
        margin-right: 235px;
    }
    main{
        margin: 0px 5px 80px 5px;
    }
    header ion-icon{
        display: none;
    }
    .participantes{
        overflow-y: auto;
    }
    ::-webkit-scrollbar {
        width: 1px;
    }
    ::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }
    ::-webkit-scrollbar-thumb {
        background: #888; 
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}