/*estilos gerais da página*/

body{
    font-family: 'Roboto', sans-serif;
    background: #F3F3F3;
    color: #333333;
    margin-top: 95px;
    letter-spacing: 1px;
}

/*estilos gerais do cabeçalho e do rodapé*/
header, footer{
    width: 100%;
    height: 75px;
    background-color: #FFF;
    position: fixed;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
ion-icon{
    font-size: 35px;
    color: black;
}

/*estilos do cabeçalho*/
header img{
    width: 65px;
}
header{
    top: 0;
    box-shadow: 0px 10px 10px 1px #e8e8e8;
}

/*estilos do rodapé*/
footer{
    bottom: 0;
    box-shadow: 0px -10px 10px 1px #e8e8e8;
}
footer > div{
    width: calc(100% - 40px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer h3{
    font-size: 18px;
    font-style: italic;
    margin-bottom: 5px;
}
footer input{
    background: transparent;
    font-family: inherit;
    border: none;
    width: 100%;
    height: 30px;
}

/*estilos das caixas de mensagem*/
.mensagem{
    width: 100%;
    margin: 3px 0px;
    padding: 5px;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
}
.entrouOuSaiu{
    background-color: #DCDCDC;
}
.reservado{
    background-color: #FFDEDE;
}
.publico{
    background-color: #FFF;
}


/*estilos dos elementos dentro das caixa mensagem*/
.mensagem time{
    color: #b2b2b2;
    padding: 7px;
}
.usuario, .destinatario{
    font-weight: bold;
    font-size: 16px;
}
.mensagem .usuario::first-letter, .mensagem .destinatario:first-letter{
    text-transform: uppercase;
}
.mensagem p{
    margin-left: 5px;
    font-size: 16px;
}

/*adição dos textos entre usuario e destinario*/
.reservado .usuario::after{
    content: "reservadamente para";
    font-weight: normal;
    margin: 0px 2px;
}
.publico .usuario::after{
    content: "para";
    font-weight: normal;
    margin: 0px 2px;
}
.destinatario::after{
    content: ":";
    margin-right: 2px;
}