/*estilos gerais da página*/

body{
    font-family: 'Roboto', sans-serif;
    background: #F3F3F3;
    color: #333333;
    margin-top: 95px;
    letter-spacing: 1px;
}
main{
    margin-bottom: 80px;
}

/*estilos gerais do cabeçalho e do rodapé*/
header, footer{
    width: 100%;
    height: 75px;
    background-color: #FFF;
    position: fixed;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    backface-visibility: hidden;
}
ion-icon{
    font-size: 35px;
    color: black;
}

/*estilos do cabeçalho*/
header img{
    width: 65px;
}
header{
    top: 0;
    box-shadow: 0px 10px 10px 1px #e8e8e8;
    z-index: 2;
}

/*estilos do rodapé*/
footer{
    bottom: 0;
    box-shadow: 0px -10px 10px 1px #e8e8e8;
    z-index: 1;
}
footer > div{
    width: calc(100% - 40px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer h3{
    font-size: 18px;
    font-style: italic;
    margin-bottom: 5px;
}
footer input{
    background: transparent;
    font-family: inherit;
    border: none;
    width: 100%;
    height: 30px;
}

/*estilos das caixas de mensagem*/
.mensagem{
    width: 100%;
    margin: 3px 0px;
    padding: 7px;
}
.entrouOuSaiu{
    background-color: #DCDCDC;
}
.reservado{
    background-color: #FFDEDE;
}
.publico{
    background-color: #FFF;
}


/*estilos dos elementos dentro das caixa mensagem*/
.mensagem time{
    color: #b2b2b2;
    padding: 7px;
}
.usuario, .destinatario{
    font-weight: bold;
    font-size: 16px;
    padding-right: 3px;
}

/*adição dos textos entre usuario e destinario*/
.reservado .usuario::after{
    content: "reservadamente para";
    font-weight: normal;
    margin: 0px 2px;
}
.publico .usuario::after{
    content: "para";
    font-weight: normal;
    margin: 0px 2px;
}
.destinatario::after{
    content: ":";
    margin-right: 2px;
}

/*estilos do menu participantes*/
aside{
    position: fixed;
    top: 0;
    right: -100vw;
    width: 100vw;
    height: 100vh;
    background: transparent;
    z-index: 3;
    display: flex;
    justify-content: flex-end;
    transition: right 500ms ease-out;
    transition: background 1s ease-out;
}
aside.ativado{
    right: 0px;
    background: #5c5c5cc4;
}
.fundo{
    width: calc(100% - 235px);
    height: 100%;
}
.menu{
    background-color: #FFF;
    width: 235px;
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
aside ion-icon, aside i{
    font-size: 20px;
    margin-right: 5px;
}
aside h2{
    font-size: 16px;
    width: 100%;
    margin: 15px 0px;
    font-weight: 600;
    text-align: center;
}
aside ul{
    width: 100%;
}
aside li{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
}
.checkmark{
    color: #fff;
    justify-self: flex-end;
}
li h6{
    flex-grow: 1;
}
.selecionado .checkmark{
    color: green;
}

/*colocando primeiras letras em maiusculo*/

.participantes h6::first-letter{
    text-transform: uppercase;
}